*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: black;
}
header{
    display: flex;
    justify-content: center;
}
.menu{
    width: 50vw;
    height: 10vh;
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    border: solid 5px yellow;
}
@media (max-width:1024px){
    .menu{
        width: 80vw;
        margin-left: 0;
    }
}
@media (max-width:700px){
    .menu{
        width: 70vw;
        margin-left: 0;
    }
}
@media (max-width:600px){
    .menu{
        width: 100vw;
        margin-left: 0;
    }
}
.menu__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media(max-width:670px){
    .menu__text{
        font-size: 17px;
    }
}
@media(max-width:600px){
    .menu__text{
        font-size: 14px;
    } 
}
a{
    color: yellow;
    text-decoration: none;   
}
.block__navtitle{
    color:yellow;
    font-size: 50px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.block__historia, .block__gadsen{
    width: 70vw;
    border-radius: 10px;    
    display: flex;      
    align-self: center;
    margin-top: 40px;
    border: 5px solid rgb(255, 255, 255);
    background-image: url(assets/fundodiv.png);
    background-size: cover;
}
@media(max-width:768px){
    .block__historia, .block__gadsen{
        flex-direction: column;
    }
}
.block__historiaImagem{
    width: 250px;
    height: 250px;
}
@media(max-width:768px){
    .block__historiaImagem{
        width: 100%;
        height: 200px;
    }
}
.block__historiatext{
    display: flex;
    flex-direction: column;
}
.block__historiatitle{
    text-align: center; 
    font-size: 40px;
}
@media(max-width:768px){
    .block__historiatitle{
        margin-top: 10px;
        font-size: 30px;
    }
}
.block__historiaParagrafo{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 29px;
}
.block__bandeira{
    width: 300px;
    height: 240px;
}
@media(max-width:768px){
    .block__bandeira{
        width: 100%;
        height: 260px;
    }
}
.block__ancap{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block__ancaptitle, .titulo__escritores{
    margin-top: 20px;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    color: yellow;
}
.block__ancapbandeira, .block__video, .block__escritores{
    width: 47vw;
    margin-top: 70px;
    margin-right: 20px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: yellow;
    background-image: url(assets/fundodiv.png);
    background-size: cover;
    display: flex;
}
@media(max-width:950px){
    .block__ancapbandeira, .block__video{
        width: 70vw;    
        margin-right: 20px;
        flex-direction: column;
    }
}
@media(max-width:950px){
    .block__escritores{
        width: 70vw;
        margin-right:0;
        border-radius: 10px;
        flex-direction: column;
    }
}
.block__video{
    height: 385px;
}
.block_ancapvideo{
    width: 100%;
}
.block__ancapimage{
    width: 250px;
    height: 200px;
}
@media(max-width:950px){
    .block__ancapimage{
        width: 100%;
    }
}
.block__ancaptext{
    margin-top: 50px;
    font-size: 29px;
    color: white;   
}
.block__escritoresPrincipal{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text__escritores{
    color: rgb(0, 0, 0); 
    margin-top: 50px;  
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 26px;
}
.block__escritoresimagem{
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
}
@media(max-width:950px){
    .block__escritoresimagem{
        width: 100%;
        height: 300px;
    }
}
.block__livros{
    width: 50%;
    height: 450px;
    align-self: center;
}
@media(max-width:550px){
    .block__livros{
        width: 100%;
    }
}